body {
    height: 100vh; /* Set the height of the body to the full viewport height */
    margin: 0; /* Remove default margin */
    
    background: radial-gradient(circle, rgba(59, 68, 95, 0.8) 10%, rgba(3, 3, 3, 0.9) 100%), 
                linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 50%);
            
    background-blend-mode: multiply; /* Blend the two gradients */
    color: white; /* Set text color for visibility */
    display: flex;
    text-align: center;
    font-family: Arial, sans-serif; /* Specify a font */
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #111;
    color: white;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

/* Main Content Styles */
.main-content {
    margin-left: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 200px); /* Adjust width to account for sidebar */
}

/* Killer Box Styles */
.killer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.killer h2 {
    color: #333;
}

#killerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures items are evenly distributed */
    padding: 5px;
}

.killer-box {
    display: grid;
    max-width: 510px;
    min-width: 470px;
    border-radius: 5px;
    grid-template-columns: 245px auto;
    grid-template-rows: 45px 35px 45px;
    background: linear-gradient(to right, #030303, #3b445f); /* Gradient from black to dark blue */
    color: white;
    margin: 20px 5px 0px 5px;
    height: 125px;
    position: relative;
    flex: 1;
}

.killer-box.compact {
    max-width: 245px !important;
    min-width: 245px !important;
    grid-template-columns: 245px !important;
    grid-template-rows: 45px 35px 45px 125px !important;
    height: 250px !important;
}

.killer-name {
    font-size: 1.2em; /* Adjust font size as needed */
    text-align: center;
    margin-bottom: 10px;
}

.killer-details {
    font-size: 0.9em;
}

.killer-info, .killer-stats {
    margin-bottom: 5px;
}

.killer-stats p {
    margin: 5px 0;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
